<%- include("../header") %>

<h1>Felhasználó adatok</h1>
<form action="/reservation/<%= reservation._id %>" method="post">
  <div class="row">
    <label for="room">Szoba</label><br />
    <input type="text" id="lname" name="lname" value="<%= reservation.bed !== null ? reservation.bed.room : '' %>" disabled/>
  </div>

  <div class="row">
    <label for="bed">Ágy</label>
      <input id="bed" name="bed" value="<%= reservation.bed !== null ? reservation.bed.Position() : '' %>" disabled/>
  </div>

  <div class="row">
    <label for="user">Foglaló</label>
      <input id="user" name="user" value="<%= reservation.user !== null ? reservation.user.name : '' %>" disabled/>
  </div>

  <div class="row">
    <label for="start">Foglalás kezdete</label>
    <input id="start" name="start" type="datetime-local" value="<%= reservation.start %>"/>
  </div>

  <div class="row">
    <label for="end">Foglalás vége</label>
    <input id="end" name="end" type="datetime-local" value="<%= reservation.end %>" />
  </div>

  <input type="submit" value="Frissítés" />
  
</form>
<a href="/reservation/<%= reservation._id %>/delete">Lemondás</a>
<%- include("../footer") %>
