<%- include("../header") %>
<h1>Foglalások</h1>
<div id="reservation-table-wrap">
  <table id="reservation-table">
    <thead>
      <tr>
        <td>Szoba</td>
        <td>Ágy</td>
        <td>Foglaló</td>
        <td>Foglalás kezdete</td>
        <td>Foglalás vége</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% reservations.forEach( reservation => { %>
      <tr>
        <td><%= reservation.bed !== null ? reservation.bed.room : ''%></td>
        <td><%= reservation.bed !== null ? reservation.bed.Position() : '' %></td>
        <td><%= reservation.user !== null ? reservation.user.name : '' %></td>
        <td><%= reservation.start %></td>
        <td><%= reservation.end %></td>
        <td><a href="/reservation/<%= reservation._id %>">Részletek</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include("../footer") %>