<%- include("../header") %>

<h1>Felhasználó adatok</h1>
<form action="/user/<%= user.id %>" method="post">
  <div class="row">
    <label for="name">Név:</label><br />
    <input type="text" id="name" name="name" value="<%= user.name %>" />
  </div>

  <div class="row">
    <label for="room">Szoba szám:</label>
    <input type="text" id="room" name="room" value="<%= user.room %>" />
  </div>

  <input type="submit" value="Mentés" />
</form>

<%- include("../footer") %>
