<%- include("../header") %>
<h1>Felhasználók</h1>
<table id="user-table">
  <thead>
    <tr>
      <td>Név</td>
      <td>Saját ágy</td>
      <td></td>
      <td></td>

    </tr>
  </thead>
  <tbody>
    <% users.forEach(user =>{ %>
    <tr id="user-<%= user._id %>">
      <td><%= user.name%></td>
      <td><%= user.bed.Position() %></td>
      <td><a href="/user/<%= user._id%>">szerkeszt</a></td>
      <td><span class="close-btn" onclick="deleteUser('<%= user._id%>')">X</span></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<%- include("../footer") %>
