<%- include("../header") %>
<!-- <%= bed %> -->
<h1>Ágy adatok</h1>
<form action="/bed/<%= bed._id %>" method="post">
  <div class="row">
    <label for="room">Szoba szám:</label>
    <input type="text" id="room" name="room" value="<%= bed.room %>" />
  </div>
  <div class="row">
    <label for="position">Ágy helye:</label>
    <select type="text" id="position" name="position">
      <option value="right-top" <% if(bed.position == 'right-top'){ %> selected <%}%> >Jobb felső</option>
      <option value="right-bottom" <% if(bed.position == 'right-bottom'){ %> selected <%}%>>Jobb alsó</option>
      <option value="left-top" <% if(bed.position == 'left-top'){ %> selected <%}%> >Bal felső</option>
      <option value="left-bottom" <% if(bed.position == 'left-bottom'){ %> selected <%}%> >Bal alsó</option>
    </select>
  </div>
  <div class="row">
    <label for="owner">Tulajdonos:</label><br />
    <a href="/user/<%= bed.user._id %>"><%= bed.user.name %></a>
    <!-- <input type="text" id="owner" name="owner" value="<%= bed.user.name %>" disabled /> -->
  </div>

  <input type="submit" value="Mentés" />
</form>

<%- include("../footer") %>

