<%- include("../header") %>

<!-- <%- beds %> -->
<h1>Ágyak</h1>
<div class="bed-grid">

  <% beds.forEach(bed => {  %>
  <div class="card">
    <h3><%= bed.Position() %></h3>
    <p>tulajdonos: <%= bed.user.name %></p>
    <a href="/bed/<%= bed._id%>">Foglalás</a>
  </div>
  <% }) %>
  
</div>
<%- include("../footer") %>
